<script src="https://giscus.app/client.js"
        data-repo="Hellscaped/NewHome"
        data-repo-id="R_kgDORAnqyg"
        data-category="Announcements"
        data-category-id="DIC_kwDORAnqys4C1YnA"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>